.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #FBF6F3;
  background-image: url(task-list.png);
  background-repeat: no-repeat;
  background-position: 780px 180px;
  background-size: 65%;
  min-height: 85vh;
}

.home {
  background-color: #FBF6F3;
  background-image: url(home-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
  min-height: 85vh;
}

.App-header {
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: 'Grand Hotel', cursive;
  color: #fe508f;
  font-size: 64px;
}

.footer {
  height: 2.5rem;
  background-color: #92C4ED;
}